<style>
     body 
      {
        background: url('images/backback.jpg') no-repeat center center fixed; //back3.png
         background-color: #151515;
        background-size: cover;
        
      }
    </style>
    <br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<body>
<font face="futura">
<div id="outer1">
<div class="inner1">	
<!--<p style="font-size: 17px; color: #581c3b; font-weight: normal;">
	Hey {{namee}}! Why don't you check these events nearby
</p>-->
</div>
</div>


<div class="jumbotron" style="bottom: -30px;
  position: absolute;
  background: black;
  opacity: 0.6;
  width: 100%;
  height: 84%;
  z-index: 1;
  border-radius: 201px;
  border: 1px solid beige;"></div>


<div id="outer" style="top: 21%;">
	<div class="inner">

	<div class="lebtivity-wgt" 
		data-width="700" 
		data-height="580" 
		data-theme="grey" 
		data-geo="lebanon" 
		data-category="" 
		data-default_date="month" 
		data-disable_date="0" 
		data-remove_border="1" 
		data-remove_signature="1" 
		data-title="" style="position: relative; top: 27%; opacity: 0.9;">
	</div>

	<script>
	(function(d,s,id)
	{
 		var js,fjs = d.getElementsByTagName(s)[0];
		if(!d.getElementById(id))
		{
			js = d.createElement(s);
			js.id = id;js.src="//www.lebtivity.com/js/widget/ext/wgt.min.js";
			js.async = true;
			fjs.parentNode.insertBefore(js,fjs);
		}
	}(document,"script","lebtivity-wgts"));</script>
</div>
</div>
</div>

</font>
</body>